@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

html{
    scroll-behavior: smooth;
    font-size: 87.5%;
    /*14px*/
}

/*set modaal window to display none*/
[id^="works__modal0"]{
    display: none;
}
.works__modal-list, .menu__list, .menu__gnav, .mvis__list{
    list-style: none;
}

.menu__gnav-link{
    text-decoration: none;
    color: #333;
    font-family: "Ubuntu", sans-serif;
}

@media (min-width: 0px) and (max-width: 834px){
    .menu{
        height: 100px;
    }

    .menu__list{
/*        padding: 0 10px;*/
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .menu__item{
        width: 50%;
    }

    .menu__gnav{
        display: flex;
    }

    .menu__gnav-item{
        width: 100%;
        text-align: center;
    }

    .works__modal-img{
        width: 100%;
        margin-top: 30px;
        box-sizing: content-box;
    }
}

@media (min-width: 835px){

    .bigwrap{
        height: 100vh;
        display: flex;
    }

    .headcon{
        flex-basis: 25%;
    }

    .menu{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
/*        box-shadow: 2px 2px 10px black;*/
    }

    .works__modal-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .works__modal-item{
        width: 50%;
        text-align: center;
    }
}

.works__modal-head{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 20px;
}

.works__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.works__item{
    overflow: hidden;
    width: 25%;
    align-items: center;
}

.works__item-link{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

.works__item-txt{
    position: relative;
    z-index: 4;
    top: 45%;
    max-height: 100%;
    height: 100%;
    text-align: center;
    transform: translateY(-200%);
    transition: transform 1.2s cubic-bezier(.51,0,.15,1);
}

.works__item-thumb{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (pointer: fine){
    .works__item-link:hover .works__item-txt{
        transform: translateY(-100%);
        transition: transform 0.8s cubic-bezier(.51,0,.15,1);
    }

    .works__item-link::after{
        display: block;
        position: relative;
        z-index: 3;
        content: '';
        background: black;
        transform: translateY(-300%);
        transition: all 1.2s cubic-bezier(.51,0,.15,1);
        height: 100%;
        width: 100%;
        opacity: 0.5;
    }

    .works__item-link:hover::after{
        transform: translateY(-200%);
        transition: all 0.8s cubic-bezier(.51,0,.15,1);
    }
}
