@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

html{
    scroll-behavior: smooth;
    font-size: 87.5%;
    color: #333;
    /*14px*/
}

/*set modaal window to display none*/
[id^="works__modal0"]{
    display: none;
}

.works__modal-list, .menu__list, .menu__gnav, .mvis__list{
    list-style: none;
}

.menu__gnav-link{
    text-decoration: none;
    color: #333;
    font-family: "Ubuntu", sans-serif;
    transition: color 0.3s;
}

.menu__gnav-link:hover{
    color: red;
    transition: color 0.3s;
}

.menu__gnav-link::after{
    content: "";
    display: block;
    border-bottom: #333 solid 3px;
    border-radius: 5px;
    width: 100%;
    transform: scale(0, 1);
    transform-origin: left;
    margin: 0 auto;
}

.menu__gnav-link:hover::after{
    transform: scale(1, 1);
    transform-origin: left;
    transition: all 0.5s;
}

.sns{
    text-decoration: none;
    fill: #333;
    transition: fill 0.3s;
}

@media (min-width: 0px) and (max-width: 834px){
    .menu{
        height: 80px;
    }

    .menu__list{
/*        padding: 0 10px;*/
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu__item{
    }

    .menu__gnav{
        display: flex;
    }

    .menu__gnav-item{
        text-align: center;
        padding: 0 10px;
    }

    .menu__gnav-link{
        font-size: 1.14rem;
    }

    .snsbar{
        position: fixed;
        bottom: 2%;
        right: 2%;
        display: flex;
    }

    .sns{
        margin: 0 .75rem;
    }

    .maincon{
        width: 100%;
    }

    .works__modal-img{
        width: 100%;
        margin-top: 30px;
        box-sizing: content-box;
    }
}

@media (min-width: 835px){

    .bigwrap{
        display: flex;
    }

    .headcon{
        flex-basis: 25%;
        top: 0;
        position: sticky;
        height: 100vh;
    }

    .menu{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-right: solid 1px #333;

/*        box-shadow: 2px 2px 10px grey;*/
    }

    .menu__gnav-item{
        padding: 10px 0;
    }

    .menu__gnav-link{
        letter-spacing: .2rem;
        font-size: 1.28rem;
    }

    .snsbar{
        margin-top: -4vh;
        display: flex;
        justify-content: center;
    }

    .sns{
        display: block;
        margin: 0 0.5rem;
        transform: scale(0.75);
    }

/*turn this on later*/
    .mcon{
        flex-basis: 75%;
    }

    .mvis{
        height: 100vh;
        display: flex;
        justify-content: center;
        text-align: left;
        flex-direction: column;
        padding-left: 50px;
    }

    .intro{
        font-size: 3rem;
        letter-spacing: .1rem;
        line-height: 5rem;
    }


    .works{
        height: 2000px;
    }

    .works__modal-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .works__modal-item{
        width: 50%;
        text-align: center;
    }
}

/*works page*/
.works__modal-head{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 20px;
}

.works__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.works__item{
    overflow: hidden;
    width: 25%;
    align-items: center;
}

.works__item-link{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

.works__item-txt{
    position: relative;
    z-index: 4;
    top: 45%;
    max-height: 100%;
    height: 100%;
    text-align: center;
    transform: translateY(-200%);
    transition: transform 1.2s cubic-bezier(.51,0,.15,1);
}

.works__item-thumb{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*about*/
.intro{
    animation: .8s cubic-bezier(.51,0,.15,1) 1 forwards slidein;
    opacity: 0;
    user-select: none;
}

.intro:nth-child(2){
    animation-delay: .8s;
}

.intro:nth-child(3), .intro:nth-child(4){
    animation-delay: 1.8s;
}

.scroller{
    display: block;
    animation-name: fadein;
    animation-delay: 2.8s;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    opacity: 0;
}

@keyframes slidein{
    from{
        letter-spacing: -0.1rem;
        transform: translateX(-5%);
    }

    to{
        opacity: 1;
    }
}

@keyframes fadein{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

/*mouse pointer hover animations*/
@media (pointer: fine){
    .works__item-link:hover .works__item-txt{
        transform: translateY(-100%);
        transition: transform 0.8s cubic-bezier(.51,0,.15,1);
    }

    .works__item-link::after{
        display: block;
        position: relative;
        z-index: 3;
        content: '';
        background: black;
        transform: translateY(-300%);
        transition: all 1.2s cubic-bezier(.51,0,.15,1);
        height: 100%;
        width: 100%;
        opacity: 0.5;
    }

    .works__item-link:hover::after{
        transform: translateY(-200%);
        transition: all 0.8s cubic-bezier(.51,0,.15,1);
    }

    .sns:hover{
        fill: red;
        transition: fill 0.3s;
}
}
